.register{
  margin-left: 40%;
  margin-top: 10%;
  width: 300px;
  height: 410px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 30px;
  
}
.input-box{
 display: block;
 justify-content:center;
 align-items: center;
 margin-top: 10px;
 margin-left: 20px;
 height: 50px;
 width: 250px;
 border: 2px solid whitesmoke;
}
#btn{
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color:rgb(245, 74, 74);
  color: white;
  border: 1px solid;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 5px;
}
.header{
  color:brown;
}

.my{
  margin-bottom:100px;
}
.my h1{
  font-size: 60px;
  font-style:italic;
  font-weight: bolder;
}
.my h2{
  font-size:xx-large;
  font-style: italic;
  font-weight: bolder;
}

.navbar-brand img{
  height: 60px;
  width: 100px;
}
